@import url(https://fonts.googleapis.com/css?family=Oswald:700);

/********************************
 * GENERAL
 ********************************/

body {
	-webkit-font-smoothing: antialiased;
	color: #222;
	font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	line-height: 1;
}

h1 { text-transform: uppercase; }

pre {
	background-color: #fff;
	padding: 1em;
	max-height: 8em;
	white-space: pre-wrap;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	/* -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.05); */
	
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}

img {
	height: auto;
	width: 100%;
}

a { color: #d14; }

/********************************
 * LAYOUT
 ********************************/

.container {
	margin: 0 auto;
	padding: 1rem 2rem;
	overflow: hidden;
	width: 60rem;
}

/********************************
 * MODULE: HEADER
 ********************************/

header {
	color: #333;
	font-size: 2em;
}

/********************************
 * MODULE: STEP
 ********************************/

.step {
	background-color: rgba(0, 0, 0, 0.025);
    padding: 0 1em;
	margin-bottom: 2em;
    overflow: hidden;
}

.step__icon {
	color: #fff;
	display: inline-block;
	position: relative;
	margin-right: 0.25em;
	text-align: center;
	width: 1em;
}

.step__icon::after {
	background-color: #d14;
	content: '';
	display: inline-block;
	height: 1.4em;
	left: -0.2em;
	position: absolute;
	top: -0.2em;
	width: 1.4em;
	z-index: -1;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.step__description {
	color: #888;
}

/********************************
 * INPUT
 ********************************/

input { margin-bottom: 1em; }