.taggd__button {
  box-sizing: border-box;
  display: block;
  height: 8rem;
  width: 8rem;
  border: 2px solid rgba(0, 0, 0, .5);
  margin-left: -4rem;
  margin-top: -4rem;
  background-color: rgba(0, 0, 0, .25);
}

.taggd__button:hover {
  background-color: transparent;
  z-index: 10;
}

.taggd__popup {
  padding: .5rem;
  left: -2px;
  right: -2px;
  top: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.taggd__editor-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #fff;
}

.taggd__editor-button {
  display: inline-block;
  width: 47.5%;
  border: 0;
  background-image: none;
  color: #fff;
}

.taggd__editor-button--save {
  margin-right: 5%;
  background-color: #20c120;
}

.taggd__editor-button--delete {
  background-color: #c33939;
}
